@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
:root {
	--primary-bg-color: #6F96F3;
	--light-font-color: #fff;
	--dark-font-color: #070202;
	--bright-font-color: #814FD1;
	--border-color: rgba(129, 79, 209, 0.2);
	--bright-bg-color:  #F9676D;
	--primary-font-color: #814FE5;
	--light-grey:  #ACB5B9;
}

* {
	font-family: "Open Sans", sans-serif;
}


.app-title {
	font-weight: 300;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.lead-text {
	font-size: 1.2rem;
	color:  #aaa;
}
.dropdown {
	font-size: 1.3rem;
	color: #333;
}

.inputgroup {
	width: 45%;
	float: left;
	display: block;
}


/*model info*/
.model-info {
	border: 1px solid var(--border-color);
}
.model-info-item {
	border: 1px solid var(--border-color);
}

/*volatility graph*/
.volt-div {
	border: 1px solid var(--border-color);
	height: 200px;
}

/*page cntainer*/
.page-container {

}

/*predicted price*/
.nextday-price {
	display:  block;
	font-size: 1.5rem;
	color: var(--primary-font-color);
	width: content;

}
.div1, .div2, .run-btn {
	border: 2px solid #8151E8;
}
.run-btn {
	font-size: 1.3rem;
	letter-spacing: 1px;
	text-transform: uppercase;
	border: 1px solid linear-gradient(#814FE5, #9198e5);
}

.run-btn:hover {
	background-color: #8151E8;
	color: #fff;
}
