@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
:root {
	--primary-bg-color: #6F96F3;
	--light-font-color: #fff;
	--dark-font-color: #070202;
	--bright-font-color: #814FD1;
	--border-color: rgba(129, 79, 209, 0.2);
	--bright-bg-color:  #F9676D;
	--primary-font-color: #814FE5;
	--light-grey:  #ACB5B9;
	/*--primary-border-color:  background: linear-gradient(#e66465, #9198e5);*/
}

* {
	font-family: "Open Sans", sans-serif;
}

/*header*/
.main-header {
	box-shadow: 0 3px 4px 2px var(--border-color);
	/*background: linear-gradient(#814FE5, #9198e5);*/
	/*border-bottom: 1px solid blue;*/
}
.app-title {
	font-weight: 500;
	letter-spacing: 1px;
	color:  var(--bright-font-color);
}
.lead-text {
	color:  var(--dark-font-color);
}

/*model info*/
.model-info {
	border: 1px solid var(--border-color);
}
.model-info-item {
	border: 1px solid var(--border-color);
}

/*volatility graph*/
.volt-div {
	border: 1px solid var(--border-color);
	height: 200px;
}

/*page cntainer*/
.page-container {

}

/*predicted price*/
.nextday-price {
	display:  inline-block;
	border: 1px solid var(--border-color);
	font-size: 1.7rem;
	border-radius: .2rem;
	color: var(--primary-font-color);

}
.div1, .div2, .run-btn {
	border: 2px solid #8151E8;
}
.run-btn {
	border: linear-gradient(#814FE5, #9198e5);
}

.run-btn:hover {
	background-color: #8151E8;
	color: #fff;
	/*border: none;*/
}